.error,
.error-password {
    display: flex;
    align-self: flex-start;

    margin-top: -1.5rem;

    font-family: var(--tertiary-font);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 20px;

    color: #e70000;
}

.error-password {
    margin: -0.5rem 0 -1.7rem 0;
}

.error-input > input {
    border: 1px solid #e70000;
}
